.about{
    margin-top: 3rem;
}
.aboutcontainer{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 5rem;
}

.aboute_rigth > p {
    margin: 1.6rem 0 2.5rem;
}

.aboutcards{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}
.real_card{
    background: var(--color-bg1);
    padding: 1.6rem;
    border-radius: 1rem;
    text-align: center;
    transition: all 400ms ease;
}
.real_card:hover{
    background: var(--color-bg2);
    box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
   
}
.real_card_icon{
    background: var(--color-danger);
    padding: 0.6rem 1.2rem;
    border-radius: 1rem;
    display: inline-block;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.real_card:nth-child(2) .real_card_icon{
    background: var(--color-succes);
}
.real_card:nth-child(3) .real_card_icon{
    background: var(--color-primery);
}

.real_card p{
 margin-top: 1rem;
}

@media screen and (max-width:1024px) {
    .about{
        margin-top: 2rem;
    }
    .aboutcontainer{
       grid-template-columns: 1fr;
       gap: 4rem;
    }
    .about_left{
        width: 75%;
        margin: 0 auto;

    }
}

@media screen and (max-width:600px) {
    
    .aboutcards{
       grid-template-columns: 1fr 1fr;
       
    }
    
}